.pagination__pages {
    height: 20px;
}

.users__content {
    padding: 20px 80px;
}

.user__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 130px;
}

.user__avaFollowed {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.user__avaFollowed {
    padding: 5px;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user__dataFrame__nameStatus {}
.user__name {}
.user__status {}

.user__dataFrame__location {}
.user__country {}
.user__city {}

.user_preloader {
    position: absolute;
    top: 50%;
    left: 35%;
}

.user__ava {}

.pages, .current {
    margin-right: 3px;
    cursor: pointer;
}
.current {
    font-weight: 700;
}



