.user__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #af7f3f;
    height: 130px;
}

.user__ava img {
    width: 80px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 5px;
}

.user__avaFollowed {
    padding: 5px;
    background-color: #d7d508;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.user__ava {}
.user__followed {}

.user__dataFrame {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: aquamarine;
    margin-left: 20px;
    padding: 10px;
    height: 110px;
    width: 50%;
}

.user__dataFrame__nameStatus {}
.user__name {}
.user__status {}

.user__dataFrame__location {}
.user__country {}
.user__city {}

