.users__content {
    padding: 20px 80px;
}

.user__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 130px;
}

.user__ava img {
    width: 75px;
    height: 90px;
    border-radius: 5px;
    box-shadow: 0 0 3px #fca7a7;
}

.user__avaFollowed, .user__dataFrame {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(172, 252, 225, 0.2);
}

.user__avaFollowed {
    padding: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.user__ava {}
.user__followed {
    width: 75px;
}
.user__followed button {
    margin: 0 auto;
}

.user__dataFrame {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
    height: 110px;
    width: 100%;
    font-size: 20px;
}

.user__dataFrame__nameStatus {}
.user__name {}
.user__status {}

.user__dataFrame__location {}
.user__country {}
.user__city {}

.pages, .current {
    margin-right: 3px;
}
.current {
    font-weight: 700;
}

