.checkbox_label {
    display: block;
}

.input_style {

}

.input_label {

}

.error_message {
    font-size: 12px;
    color: red;
    width: 400px;
    margin-top: 0.25rem;
}

.error_message:before {
     content: "❌ ";
     font-size: 10px;
 }

