.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contacts {
    margin-bottom: 15px;
}

.contacts h5 {
    margin: 10px 0;
}

.info {
    display: grid;
    grid-template-columns: 9fr 11fr;
}


