.samuraiImage {
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 0 3px #fd9191;
}

.postSpan {
    margin-left: 20px;
}

.likesBlock {
}

.likeImage{
    width: 13px;
    cursor: pointer;
    margin: 0 4px;
}

.likesCount {
    font-size: 9px;
    color: rgba(243, 223, 159, 0.88);
    font-weight: 700;
}
