.message_ava img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message_block {
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-areas:
        'a m';
    padding: 10px;
}

.ava_name_message {
    grid-area: a;
}

.message_message {
    grid-area: m;
}
