.content {
    margin-top: 10px;
    display: flex;
    position: relative;
}

.contacts {
}

.info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    column-gap: 10em;
}


