.header {
    grid-area: h;
    background-color: rgba(228, 255, 245, 0.85);
    padding: 10px;
    border-bottom: 1px solid rgba(231, 230, 230, 0.93);;
}

.header img {
    width: 40px;
    border-radius: 50%;
}