.header {
    grid-area: h;
    background-color: rgba(228, 255, 245, 0.85);
    padding: 10px;
    border-bottom: 1px solid rgba(231, 230, 230, 0.93);;
}

.header_block {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_block span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 7px;
}
.header_block div {
    height: 40px;
}

.header img {
    width: 40px;
    border-radius: 50%;
}