.navbar {
    grid-area: n;
    background-color: rgba(218, 248, 253, 0.98);
    padding: 10px;
    border-right: 1px solid rgba(231, 230, 230, 0.93);
}

.navbar div {
    margin-bottom: 5px;
}

.navbar div a {
    text-decoration: none;
}

.navbar div a.active {
    color: #d7d508;
}

.friends_block {
    text-align: center;
}

.friends_block h4 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 40px;
}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ava_name {

}

.ava_name div img {
    width: 40px;
    height: 50px;
    border-radius: 50%;
}

.name {
    font-size: 10px;
    margin-top: -8px;

}