.dialogs__block {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-area: d;
}

.dialogs {
    padding: 20px;
    border-right: 1px solid rgba(231, 230, 230, 0.93);
}

h4 {
    margin: 0 0 20px 0;
    font-weight: 500;
}

.ava_message {
    grid-area: u;
    padding: 20px;
}

.dialog_user {
    margin-bottom: 20px;
}

.dialog_user img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 3px #fd9191;
}

.dialog_user div {
    display: inline-block;
    margin: 10px 0 10px 15px;
}

.dialog_user a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dialog_user a.active div {
    color: #d7d508;
}
