.textarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 390px;
    padding-left: 30px;
    height: 40px;
}

.textarea__textarea {
    border: 1px solid rgba(255, 254, 254, 0);
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0.96);
    width: 240px;
    padding: 5px 10px;
}

.textarea__ava img {
    width: 30px;
    border-radius: 50%;
}