.textarea {
    display: flex;
    align-items: center;
    max-width: 390px;
    column-gap: 13px;
}

.padding {
    padding: 20px
}

.textarea__textarea {
    border: 1px solid rgba(255, 254, 254, 0);
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0.96);
    width: 240px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 16px;
}

.message_post_ava img {
    width: 30px;
    border-radius: 50%;
}