.message_ava img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 3px #fd9191;
}

.message_block {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 15px 8fr;
    grid-template-areas:
        'a angle m';
    padding: 10px;
}

.angle {
    grid-area: angle;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 15px, rgba(255, 254, 254, 0.96) 0);
    margin-bottom: 10px;

}

.ava_name_message {
    grid-area: a;
    font-size: 10px;
    text-align: center;
}

.message_name {

}

.message_massage {
    grid-area: m;
    width: 300px;
    background-color: rgba(255, 254, 254, 0.96);
    border-radius: 8px 8px 8px 0;
    padding: 10px;
    margin-bottom: 10px;
}
