.input_field {
    display: flex;
    align-items: center;
}

.errorInput {
    border: 1px solid rgba(255, 254, 254, 0);
    border-radius: 10px;
    background-color: rgba(255, 254, 254, 0.96);
    width: 200px;
    padding: 5px 10px;
    height: 20px;
    margin: 5px;
    font-size: 14px;
}

input:focus{
    outline: none;
}

.error {
    color: #b21919;
}

.eye {
    width: 25px;
    font-size: 22px;
}